<% include ./includes/header.ejs %>
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/index">Home</a><span>&raquo;</span></li>
            <li class=""> <a title="Go to MyPage" href="/user/mypage">My Page</a><span>&raquo;</span></li>
            <li><strong>Duty-free Shop Interlock</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->
  <!-- Main Container -->
  <div class="main-container col2-left-layout">
    <div class="container">
      <div class="row">
        <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">

          <div class="shop-inner">
            <div class="page-title">
              <h2>Duty-free Shop Interlock</h2>
              <h6>Enjoy discounts by interlocking with each internet duty-free shop!</h6>
            </div>
            <div class="pagination-area "></div>

            <div class="product-grid-area">
              <ul class="products-grid">
                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area">
                           <figure><img class="first-img" src="images/shilla_logo.jpg"></figure>
                         </div>

                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <h4>SHILLA Internet Duty-free Shop<h4>
                          <div class="item-content">
                            <h6>Enjoy discounts by interlocking</h6>
                            <h6>with SHILLA duty-free shop!<h6>
                          </div>
                          <%
                          if(!SL_check){%>
                          <button class="button" onclick="window.open('popup/shilla','신라연동','width=430,height=500,location=no,status=no,scrollbars=yes');"><i class="fa fa-user"></i>&nbsp; <span>Interlock</span></button>
                            <%
                          }else{%>
                          <div class="availability in-stock"><span class="label">Interlock Completed</span></div>
                          <%}%>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area">
                           <figure><img class="first-img" src="images/lotte_logo.jpg"></figure>
                         </div>

                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <h4>LOTTE Internet Duty-free Shop<h4>
                          <div class="item-content">
                            <h6>Enjoy discounts by interlocking</h6>
                            <h6>with LOTTE duty-free shop!<h6>
                          </div>
                          <%
                          if(!LT_check){%>
                          <button class="button" onclick="window.open('popup/lotte','신라연동','width=430,height=500,location=no,status=no,scrollbars=yes');"><i class="fa fa-user"></i>&nbsp; <span>Interlock</span></button>
                            <%
                          }else{%>
                          <div class="availability in-stock"><span class="label">Interlock Completed</span></div>
                          <%}%>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area">
                           <figure><img class="first-img" src="images/shinsegae_logo.jpg"></figure>
                         </div>

                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <h4>SHINSEGAE Internet Duty-free Shop<h4>
                          <div class="item-content">
                            <h6>Enjoy discounts by interlocking</h6>
                            <h6>with SHINSEGAE duty-free shop!<h6>
                          </div>
                          <%
                          if(!SSG_check){%>
                          <button class="button" onclick="window.open('popup/shinsegae','신라연동','width=430,height=500,location=no,status=no,scrollbars=yes');"><i class="fa fa-user"></i>&nbsp; <span>Interlock</span></button>
                            <%
                          }else{%>
                          <div class="availability in-stock"><span class="label">Interlock Completed</span></div>
                          <%}%>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="pagination-area "></div>
          </div>
        </div>
        <aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">
          <div class="block category-sidebar">
            <div class="sidebar-title">
              <h3>Categories</h3>
            </div>
            <ul class="product-categories">
              <li class="cat-item current-cat cat-parent"><a href= "shop_grid.html">Women</a>
                <ul class="children">
                  <li class="cat-item cat-parent"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Accessories</a>
                    <ul class="children">
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Dresses</a></li>
                      <li class="cat-item cat-parent"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Handbags</a>
                        <ul style="display: none;" class="children">
                          <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Beaded Handbags</a></li>
                          <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Sling bag</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="cat-item cat-parent"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Handbags</a>
                    <ul class="children">
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; backpack</a></li>
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Beaded Handbags</a></li>
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Fabric Handbags</a></li>
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Sling bag</a></li>
                    </ul>
                  </li>
                  <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Jewellery</a> </li>
                  <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Swimwear</a> </li>
                </ul>
              </li>
              <li class="cat-item cat-parent"><a href="shop_grid.html">Men</a>
                <ul class="children">
                  <li class="cat-item cat-parent"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Dresses</a>
                    <ul class="children">
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Casual</a></li>
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Designer</a></li>
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Evening</a></li>
                      <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Hoodies</a></li>
                    </ul>
                  </li>
                  <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Jackets</a> </li>
                  <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Shoes</a> </li>
                </ul>
              </li>
              <li class="cat-item"><a href="shop_grid.html">Electronics</a></li>
              <li class="cat-item"><a href="shop_grid.html">Furniture</a></li>
              <li class="cat-item"><a href="shop_grid.html">KItchen</a></li>
            </ul>
          </div>
          <div class="block shop-by-side">
            <div class="sidebar-bar-title">
              <h3>My Page</h3>
            </div>
            <div class="block-content">
              <div class="layered-Category">
                <div class="layered-content">
                  <ul class="check-box-list">
                    <li>
                      <label for="jtv2"> <a href="/user/mypage"><span class="button">My Account</span></a> </label>
                    </li>
                    <li>
                      <label for="jtv2"> <a href="/Dutyfree_linkage"><span class="button">Duty-free Shop Interlock</span></a> </label>
                    </li>
                    <li>
                      <label for="jtv2"> <a href="/Manage_reserve"><span class="button">Reserve Management</span></a> </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <!-- Main Container End -->
  <!-- Footer -->
  <a href="#" class="totop"> </a> </div>
  <footer>
    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-7">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
          <div class="footer-logo"><a href="/index"><img src="images/saemyundae.PNG" style="max-width:50%" alt="fotter logo"></a> </div>
          <p style="text-align:center; margin:0 0 0px">The Semyeondae is the best internet</p>
          <p style="text-align:center;  margin:0 0 0px">duty-free shop 'helper' to help you use</p>
          <p style="text-align:center;  margin:0 0 15px">the internet duty-free shop or get relevant information.</p>

        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          <div class="footer-content">
            <div class="email"> <i class="fa fa-envelope"></i>
              <p>smdManager123@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          <div class="footer-content">
            <div class="phone"> <i class="fa fa-phone"></i>
              <p>(02) 712-5233</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          <div class="footer-content">
            <div class="address"> <i class="fa fa-map-marker"></i>
              <p>232-2, Gongneung-dong, NohWon-Koo, Seoul, Republic of Korea</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="totop"> </a>
  <!-- End Footer -->

  </div>


  <!-- JS -->

  <!-- jquery js -->
  <script type="text/javascript" src="js/jquery.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>


  <!-- owl.carousel.min js -->
  <script type="text/javascript" src="js/owl.carousel.min.js"></script>

  <!-- bxslider js -->
  <script type="text/javascript" src="js/jquery.bxslider.js"></script>

  <!-- Slider Js -->
  <script type="text/javascript" src="js/revolution-slider.js"></script>

  <!-- megamenu js -->
  <script type="text/javascript" src="js/megamenu.js"></script>
  <script type="text/javascript">
  /* <![CDATA[ */
  var mega_menu = '0';

  /* ]]> */
  </script>

  <!-- jquery.mobile-menu js -->
  <script type="text/javascript" src="js/mobile-menu.js"></script>

  <!--jquery-ui.min js -->
  <script type="text/javascript" src="js/jquery-ui.js"></script>

  <!-- main js -->
  <script type="text/javascript" src="js/main.js"></script>

  <!-- countdown js -->
  <script type="text/javascript" src="js/countdown.js"></script>

  <!-- Revolution Slider -->


  <!-- Hot Deals Timer 1-->

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="js/notify.js"></script>
  <link rel="stylesheet" href="css/notify.css">
  <link href="css/jquery.sweet-modal.min.css" rel="stylesheet">
  <script src="js/jquery.sweet-modal.min.js"></script>
  <script>
   $(document).ready(function() {

      $.ajax({
        type: "POST",
        url: "/autocomplete",
        async: true,
        dataType: "JSON",
        success: function(json) {
          var result = json.slice(0,10);
          $("#searchbox").autocomplete({
            source:  function(request, response) {
                  json=json.filter(function(n){ return n != undefined });
                  var results = $.ui.autocomplete.filter(json, request.term);
                  // console.log(results);
                  response(results.slice(0,10));
              },
            select: function(event, ui) {
              console.log(ui.item);
            },
            focus: function(event, ui) {
              $("#searchbox").val(ui.item.label);
              return false;
              //event.preventDefault();
            }
          });
        }
      })
    })
  </script>

  </body>
  </html>
