<% include ./includes/header.ejs %>
  <!-- Breadcrumbs -->

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
            <li><strong>Inquiry</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->

  <!-- Main Container -->
  <section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="cart">

          <div class="page-content page-order">
            <div style="font-family:'Arimo', sans-serif; font-size:17px;">
              <form method="post" action="updateAction.jsp?bbsID=<%= bbsID %>" style="align:center;">
                <table class="table table-hover" style="text-align:center; border:1px solid #dddddd;">
                  <thead>
                    <tr>
                      <th colspan="2" style="background-color:#eeeeee; text-align:center; font-size:16px;">Inquiry</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td style="width:110px; text-align:center;">Inquiry Title</td>
                      <td>제가 원하는 상품이 없어요</td>
                    </tr>
                    <tr>
                      <td style="text-align:center;">ID</td>
                      <td>hansr09</td>
                    </tr>
                    <tr>
                      <td style="text-align:center;">Date</td>
                      <td>2018-09-05 14:11</td>
                    </tr>
                    <tr>
                      <td style="text-align:center;">Content</td>
                      <td>몽블랑 지갑을 사고 싶어서 검색했는데 안나와요. 왜 상품이 없는거죠? 추가시켜주세요. 몽블랑 지갑을 사고 싶어서 검색했는데 안나와요. 왜 상품이 없는거죠? 추가시켜주세요.몽블랑 지갑을 사고 싶어서 검색했는데 안나와요. 왜 상품이 없는거죠? 추가시켜주세요.</td>
                    </tr>

                  </tbody>
                </table>

                <table class="table table-hover" style="text-align:center; border:1px solid #dddddd;">
                  <thead>
                    <tr>
                      <th colspan="2" style="background-color:#fed700; text-align:center; font-size:16px;">Answer</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="width:110px; text-align:center;">Answer content</td>
                      <td>고객님이 문의한 상품을 확인해보았습니다. 곧 추가될 예정입니다. 감사합니다.</td>
                    </tr>
                  </tbody>
                </table>
                <a class="btn btn-default pull-right" href="/inquiry_wirte" style="background:#fed700"><strong>Confirm</strong></a>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   <!-- Footer -->

   <footer>
     <div class="footer-newsletter">
       <div class="container">
         <div class="row">
           <div class="col-md-8 col-sm-7">
           </div>
         </div>
       </div>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
           <div class="footer-logo"><a href="/"><img src="images/saemyundae_logo2.png" alt="fotter logo"></a> </div>
           <p style="text-align:center; margin:0 0 0px">The Semyeondae is the best internet</p>
           <p style="text-align:center;  margin:0 0 0px">duty-free shop 'helper' to help you use</p>
           <p style="text-align:center;  margin:0 0 15px">the internet duty-free shop or get relevant information.</p>
         </div>
         <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
           <div class="footer-content">
             <div class="email"> <i class="fa fa-envelope"></i>
               <p><a href="mailto:support@template.com">Saemyundae@google.com</a></p>
             </div>
           </div>
         </div>
         <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
           <div class="footer-content">
             <div class="phone"> <i class="fa fa-phone"></i>
               <p>(02) 712-5233</p>
             </div>
           </div>
         </div>
         <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
           <div class="footer-content">
             <div class="address"> <i class="fa fa-map-marker"></i>
               <p>232-2, Gongneung-dong, NohWon-Koo, Seoul, Republic of Korea</p>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="footer-coppyright">
       <div class="container">
         <div class="row">
           <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2017 <a href="#"> Modern </a>. All Rights Reserved. </div>
           <div class="col-sm-6 col-xs-12">
             <div class="payment">
               <ul>
                 <li><a href="#"><img title="Visa" alt="Visa" src="images/visa.png"></a></li>
                 <li><a href="#"><img title="Paypal" alt="Paypal" src="images/paypal.png"></a></li>
                 <li><a href="#"><img title="Discover" alt="Discover" src="images/discover.png"></a></li>
                 <li><a href="#"><img title="Master Card" alt="Master Card" src="images/master-card.png"></a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
   </footer>
  <a href="#" class="totop"> </a>  </div>

<!-- End Footer -->
<!-- JS -->

<!-- jquery js -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- owl.carousel.min js -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>

<!-- bxslider js -->
<script type="text/javascript" src="js/jquery.bxslider.js"></script>

<!--jquery-slider js -->
<script type="text/javascript" src="js/slider.js"></script>

<!-- megamenu js -->
<script type="text/javascript" src="js/megamenu.js"></script>
<script type="text/javascript">
        /* <![CDATA[ */
        var mega_menu = '0';

        /* ]]> */
        </script>

<!-- jquery.mobile-menu js -->
<script type="text/javascript" src="js/mobile-menu.js"></script>



<!--jquery-ui.min js -->
<script type="text/javascript" src="js/jquery-ui.js"></script>

<!-- main js -->
<script type="text/javascript" src="js/main.js"></script>


</body>
</html>
