<% include ./includes/header.ejs %>
  <!-- end nav -->
  <!-- Breadcrumbs -->

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
            <li><strong>Log In</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->

  <!-- Main Container -->
  <section class="main-container col1-layout">
    <div class="main container">


        <div class="page-content">

            <div class="account-login">



              <div class="box-authentication">
                <h4>Log In</h4>
               <p class="before-login-text"  style="margin:0 0;">Please enter your ID and Password.</p>
               <p style="color:red"><%= errormsg %></p>
                <form action="/auth/login" method="post">
                  <label for="emmail_login">ID<span class="required">*</span></label>
                  <input type="text" name="username" placeholder="ID" class="form-control" style="width:80%">
                  <label for="password_login">Password<span class="required">*</span></label>
                  <input type="password" name="password" placeholder="password"class="form-control" style="width:80%">
                  <button class="button" type="submit"><i class="fa fa-lock"></i>&nbsp; <span>Log In</span></button>
                </form>
              </div>
              <div class="box-authentication">
                <h4>Sign Up</h4><p style="margin:0 0;">After Sign Up, enjoy the service of the Semyeondae.</p>
                <p style="margin:0 0 70px;"><button class="button" onclick="location.href='/user/register'"><i class="fa fa-user"></i>&nbsp; <span>Sign Up</span></button></p>
                <div class="register-benefits">
												<h5>Sign Up Notice</h5>
												<ul>
													<li>To sign up, you must be 15 or older.</li>
													<li>Sign up is free.</li>
												</ul>
											</div>
              </div>


        </div>
      </div>

    </div>
  </section>
  <!-- Main Container End -->
  <!-- Footer -->
<% include ./includes/footer.ejs %>
