<!DOCTYPE html>
<html>
  <head>
    <h1>Test for index</h1>
  </head>
  <body>
    <div> <%= title %> </div>
    <p>
      <a href="/auth/login">Login</a>
    </p>
    <p>
      <a href="/auth/register">Register</a>
    </p>
  </body>

</html>
