<% include ./includes/header.ejs %>
  <!-- Breadcrumbs -->

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a href="/">홈</a><span>&raquo;</span></li>
            <li class=""> <a href="shop_grid.html">문의사항</a><span>&raquo;</span></li>
            <li><strong>문의하기</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->

  <!-- Main Container -->
  <section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="cart">

          <div class="page-content page-order">
            <div style="font-family:'Arimo', sans-serif; font-size:17px;">
              <form method="post">
                <table class="table table-striped" style="text-align:center; border:1px; solid #dddddd">
                  <thead>
                    <tr>
                      <th colspan="1" style="background-color:#eeeeee; text-align: center; font-size:16px;">문의하기</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="background-color:#fff"><input type="text" id="addContenttitle" class="form-control" placeholder="글 제목 (최대 30자)" maxlength="25" name="bbsTitle"></td>
                    </tr>
                    <%if(username==""){%>
                      <tr>
                      <td style="background-color:#fff"><input type="text" id="addContentwriter" class="form-control" placeholder="아이디" maxlength="25" name="bbsTitle"></td>
                      </tr>
                      <!-- <tr>
                      <td style="background-color:#fff"><input type="password" id="addContentpassword" class="form-control" placeholder="비밀번호" maxlength="25" name="bbsTitle"></td>
                      </tr> -->
                    <%}else{%>

                    <tr>
                      <td style="background-color:#fff"><input type="text" readonly id="addContentwriter" class="form-control" value="<%=username%>" maxlength="25" name="bbsTitle"></td>
                    </tr>
                    <!-- <tr>
                      <td style="background-color:#fff"><input type="password" id="addContentpassword" class="form-control" placeholder="비밀번호" maxlength="25" name="bbsTitle"></td>
                    </tr> -->
                      <%}%>
                    <tr>
                      <td><textarea class="form-control" id="addContent" placeholder="글 내용 (최대 512자)" name="bbsContent" maxlength="512" style="height:250px"></textarea> </td>
                    </tr>
                  </tbody>
                </table>
                <a class="btn btn pull-right" style="background:#fed700" onclick="submitContent();"><strong>글쓰기</strong></a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   <!-- Footer -->

   <footer>
     <div class="footer-newsletter">
       <div class="container">
         <div class="row">
           <div class="col-md-8 col-sm-7">
           </div>
         </div>
       </div>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
           <div class="footer-logo"><a href="/"><img src="images/saemyundae_logo2.png" alt="fotter logo"></a> </div>
           <p>세면대는 인터넷 면세점을 이용하거나 관련 정보를 얻고 싶을 때 도움을 주는 최고의 ‘도우미’입니다.</p>

         </div>
         <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
           <div class="footer-content">
             <div class="email"> <i class="fa fa-envelope"></i>
               <p><a href="mailto:support@template.com">Saemyundae@google.com</a></p>
             </div>
           </div>
         </div>
         <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
           <div class="footer-content">
             <div class="phone"> <i class="fa fa-phone"></i>
               <p>(02) 712-5233</p>
             </div>
           </div>
         </div>
         <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
           <div class="footer-content">
             <div class="address"> <i class="fa fa-map-marker"></i>
               <p> 서울시 노원구 공릉동 232-2 3층</p>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="footer-coppyright">
       <div class="container">
         <div class="row">
           <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2017 <a href="#"> Modern </a>. All Rights Reserved. </div>
           <div class="col-sm-6 col-xs-12">
             <div class="payment">
               <ul>
                 <li><a href="#"><img title="Visa" alt="Visa" src="images/visa.png"></a></li>
                 <li><a href="#"><img title="Paypal" alt="Paypal" src="images/paypal.png"></a></li>
                 <li><a href="#"><img title="Discover" alt="Discover" src="images/discover.png"></a></li>
                 <li><a href="#"><img title="Master Card" alt="Master Card" src="images/master-card.png"></a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
   </footer>
  <a href="#" class="totop"> </a>  </div>

<!-- End Footer -->
<!-- JS -->

<!-- jquery js -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- owl.carousel.min js -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>

<!-- bxslider js -->
<script type="text/javascript" src="js/jquery.bxslider.js"></script>

<!--jquery-slider js -->
<script type="text/javascript" src="js/slider.js"></script>

<!-- megamenu js -->
<script type="text/javascript" src="js/megamenu.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/notify.js"></script>
<link rel="stylesheet" href="css/notify.css">
<link href="css/jquery.sweet-modal.min.css" rel="stylesheet">
<script src="js/jquery.sweet-modal.min.js"></script>
<script type="text/javascript">
        /* <![CDATA[ */
        var mega_menu = '0';
function submitContent(){

    var title = $('#addContenttitle').val();
    var writer = $('#addContentwriter').val();
    // var password = $('#addContentpassword').val();
    var password ='123';
    var content = $('#addContent').val();
    if(title == '' || content == '' || writer == '' || password == '') {
              $.sweetModal({icon:$.sweetModal.ICON_ERROR, content:'제목과 내용, 작성자 비밀번호 모두 있어야합니다.'});
                  return;
              } else {
                var data = {
                  title : title,
                  writer : writer,
                  password : password,
                  content : content
                }
                $.ajax({
                  type: "POST",
                  url: "/inquiry_enroll",
                  async: true,
                  data : data,
                  dataType: "JSON",
                  success: function(json) {
                    if(json=="success"){
                      $.sweetModal({icon:$.sweetModal.ICON_SUCCESS, content:'문의사항이 등록되었습니다.'});
                      location.href = '/inquiry_board';
                    }
                    else{
                      $.sweetModal({icon:$.sweetModal.ICON_ERROR, content:'다시 시도하여 주십시오.'});
                    }
                  }
                })
              }
}
        /* ]]> */
        </script>

<!-- jquery.mobile-menu js -->
<script type="text/javascript" src="js/mobile-menu.js"></script>



<!--jquery-ui.min js -->
<script type="text/javascript" src="js/jquery-ui.js"></script>

<!-- main js -->
<script type="text/javascript" src="js/main.js"></script>


</body>
</html>
