<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic page needs -->
<meta charset="utf-8">
<!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>세면대 - 세상 모든 면세점 대려와!</title>
<meta name="description" content="Explore the live preview of the professional Modern - Multi Purpose eCommerce Website Template get yourself knowledgeable about this theme prior to buying it. Browse through the pages, check out the images, click the buttons, explore the features.">
<meta name="keywords" content="bootstrap, ecommerce, fashion, layout, responsive, responsive template, responsive template download, responsive theme, retail, shop, shopping, store, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template"/>

<!-- Mobile specific metas  -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon  -->
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Dosis:400,300,200,500,600,700,800' rel='stylesheet' type='text/css'>

<!-- CSS Style -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

<!-- font-awesome & simple line icons CSS -->
<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="all">
<link rel="stylesheet" type="text/css" href="css/simple-line-icons.css" media="all">

<!-- owl.carousel CSS -->
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="css/owl.theme.css">

<!-- animate CSS  -->
<link rel="stylesheet" type="text/css" href="css/animate.css" media="all">

<!-- jquery-ui.min CSS  -->
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">

<!-- style CSS -->
<link rel="stylesheet" type="text/css" href="css/style.css" media="all">
</head>

<body class="shop_grid_page">
<!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

<div id="page">

    <!-- Main Container -->
  <section class="main-container col1-layout">
    <div class="main container">
      <div class="page-content">
        <div class="account-login">
          <div class="col-md-3 col-sm-2"></div>
          <div class="col-md-6 col-sm-8">
              <form id='joinAction' name='joinAction' action ="/auth/register" method="post">
                <div class="row">
                  <div class="col-xs-12">
                    <div style="text-align: center;">
                      <a href="/" ><img src="images\saemyundae.PNG"></img></a>
                    </div>
                  </div>
                  <div class="pagination-area "></div>
                  <div class="col-xs-12">
                    <label>아이디</label>
                    <div class="input-text">
                      <input type="text" class="form-control" id="username" name="username" placeholder="User ID">
                    </div>
                    <p><span  class="error_text" id="email_dup_check" style=""></span><p>
                  </div>
                  <div class="col-xs-12">
                    <label>비밀번호</label>
                    <div class="input-text">
                      <input ID = 'password' type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <p><span class="error_text" id="pswd1Msg" style="color:blue">8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.</span></p>
                  </div>
                  <div class="col-xs-12">
                    <label>비밀번호 재확인</label>
                    <div class="input-text">
                      <input ID = 'passwordcheck' type="password" name="passwordcheck" placeholder="Password Check" class="form-control">
                    </div>
                    <!-- <p><span class="error_text" id="pswd2Msg" style="">비밀번호가 일치하지 않습니다.</span></p> -->
                  </div>
                  <div class="col-xs-12">
                    <label>이름</label>
                    <div class="input-text">
                        <input ID = 'displayName' type="text" name="displayName" placeholder="Name" class="form-control">
                    </div>
                  </div>
                  <!-- <div class="col-xs-12">
                    <p style="margin:0 0;"><label>나이</label></p>
                    <div class="col-xs-4" style="float:left">
                      <div class="input-text">
                        <input type="text" name="year" class="form-control" placeholder="년(4자)">
                      </div>
                    </div>
                    <div class="col-xs-4" style="float:left">
                      <div class="input-text">
                        <input type="text" name="birthday" class="form-control" placeholder="월">
                      </div>
                    </div>
                    <div class="col-xs-4" style="float:left">
                      <div class="input-text">
                        <input type="text" name="birthday" class="form-control" placeholder="일">
                      </div>
                    </div>
                  </div> -->
                  <div class="col-xs-12">
                    <!-- <label>닉네임</label>
                    <div class="input-text">
                      <input type="text" name="korea_name" class="form-control">
                    </div> -->
                    <!-- <p><span class="error_text" id="nickname" style="">중복된 닉네임입니다.</span></p> -->
                  </div>
                  <div class="col-xs-12">
                    <p style="margin:0 0;"><label>성별</label></p>
                    <select class="sel_box" id="sex" name="gender">
                      <option > 성별</option>
                      <option value="Man">남자</option>
                      <option value="Woman">여자</option>
                    </select>
                  </div>
                  <div class="col-xs-12">
                    <p style="margin:0 0;"><label>직업</label></p>
                    <select class="sel_box" name="job">
                      <option > 직업</option>
                      <option value="학생">학생</option>
                      <option value="회사원">회사원</option>
                      <option value="주부">주부</option>
                      <option value="기타">기타</option>
                    </select>
                  </div>
                  <div class="col-xs-12" style="margin-bottom:15px;">
                    <label>이메일</label>
                    <div class="input-text">
                      <input ID = 'email' type="text" name="email" class="form-control">
                    </div>
                    <!-- <p><span class="error_text" id="email" style="">유효하지 않은 이메일입니다.</span></p> -->
                  </div>
                  <div class="col-xs-12" style="text-align:center;">
                    <div class="submit-text">
                      <button class="button"  type="button" onClick="addUser();"><i class="fa fa-user"></i>&nbsp; <span>가입하기</span></button>
                    </div>
                  </div>
                </div>
              </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Main Container End -->

<!-- JS -->

<!-- chekc password -->
<script type="text/javascript" src="js/jquery-1.10.2.js"></script>



<!-- jquery js -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- owl.carousel.min js -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>

<!-- bxslider js -->
<script type="text/javascript" src="js/jquery.bxslider.js"></script>

<!--jquery-slider js -->
<script type="text/javascript" src="js/slider.js"></script>

<!-- megamenu js -->
<script type="text/javascript" src="js/megamenu.js"></script>
<script type="text/javascript">
        /* <![CDATA[ */
        var mega_menu = '0';

        /* ]]> */
        </script>

<!-- jquery.mobile-menu js -->
<script type="text/javascript" src="js/mobile-menu.js"></script>

<!--jquery-ui.min js -->
<script type="text/javascript" src="js/jquery-ui.js"></script>

<!-- main js -->
<script type="text/javascript" src="js/main.js"></script>

<script>
function addUser() {
            var id = $('#username').val();
            var pw = $('#password').val();
            var repw = $('#passwordcheck').val();
            var name = $('#displayName').val();
            var mail = $('#email').val();
            var pwchk = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{4,12}$/; //비번 체크
            if(id == ''||  pw == '' || repw == '' || name == '' || mail == '') {
                alert("모든 칸을 채워주세요");
                // return false;
            } else {
                if(pwchk.test(pw) == false) {
                    alert("비번은 4~12자리 영어와 숫자, 특수문자가 모두 포함되어야 합니다");
                    pw.focus();
                    // return false;
                } else {
                    if(pw != repw) {
                        alert ("비밀번호는 똑같아야 합니다 ");
                    } else {
                        $('#joinAction').submit();
                    }
                }
            }
          }
  $(function() {
    $('#username').keyup(function() {
      if ($('#username').val().length >= 4) {
        // var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i; // email check
        // if (!re.test($('#username').val())) {
          // $('#email_dup_check').html("아이디 형식을 확인하세요.").css('color', 'red');
        // } else {
          $.get('/auth/check_id?id=' + $('#username').val(), function(result) {
            if (result.result == 1) {
              $('#email_dup_check').html("해당 아이디는 이미 존재합니다.").css('color', 'red');
            } else {
              $('#email_dup_check').html("사용 가능합니다.").css('color', 'blue');
            }
          });
        // }
      }
    });
  });
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
 $(document).ready(function() {
    $.ajax({
      type: "POST",
      url: "/autocomplete",
      async: true,
      dataType: "JSON",
      success: function(json) {
        var result = json.slice(0,10);
        $("#searchbox").autocomplete({
          source:  function(request, response) {
                // var results = $.ui.autocomplete.filter(json, request.term);
                // var results= json;
                response(result);
            },
          select: function(event, ui) {
            console.log(ui.item);
          },
          focus: function(event, ui) {
            $("#searchbox").val(ui.item.label);
            return false;
            //event.preventDefault();
          }
        });
      }
    })
  })
</script>
</body>
</html>
