<% include ./includes/header.ejs %>
  <!-- Breadcrumbs -->
  <!-- calendar CSS -->
  <link rel="stylesheet" type="text/css" href="css/calendar.css">

    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul>
              <li class="home"> <a title="Go to Home Page" href="index.html">홈</a><span>&raquo;</span></li>
              <li><strong> 장바구니</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumbs End -->

    <!-- Main Container -->
    <section class="main-container col1-layout">
      <div class="main container">
        <div class="col-main">
          <div class="cart">

            <div class="page-content page-order">
              <div class="page-title">
                <h2>면세캘린더</h2>
              </div>
              <div id="calendar-wrap">
                <header>
                    <h2><string>2018년 9월</strong></h2>
                </header>
                <div id="calendar">
                    <ul class="weekdays">
                        <li>일요일</li>
                        <li>월요일</li>
                        <li>화요일</li>
                        <li>수요일</li>
                        <li>목요일</li>
                        <li>금요일</li>
                        <li>토요일</li>
                    </ul>

                    <!-- Days from previous month -->

                    <ul class="days">
                        <li class="day other-month">
                            <div class="date">26</div>
                        </li>
                        <li class="day other-month">
                            <div class="date">27</div>

                        </li>
                        <li class="day other-month">
                            <div class="date">28</div>
                        </li>
                        <li class="day other-month">
                            <div class="date">29</div>
                        </li>
                        <li class="day other-month">
                            <div class="date">30</div>
                        </li>
                        <li class="day other-month">
                            <div class="date">31</div>
                        </li>

                        <!-- Days in current month -->
                        <li class="day">
                            <div class="date">1</div>
                            <div class="event">
                                <div class="event-desc">
                                    몽블랑 사토리얼 6CC 반지갑
                                </div>
                                <div class="event-price">
                                    $261.25
                                </div>
                                <div class="event-coupon">
                                    적립금 $13.75 사용
                                </div>
                            </div>
                        </li>
                    </ul>

                        <!-- Row #2 -->

                    <ul class="days">
                        <li class="day">
                            <div class="date">2</div>
                        </li>
                        <li class="day">
                            <div class="date">3</div>
                        </li>
                        <li class="day">
                            <div class="date">4</div>
                        </li>
                        <li class="day">
                            <div class="date">5</div>
                        </li>
                        <li class="day">
                            <div class="date">6</div>
                            <div class="event">
                                <div class="event-desc">
                                    설화수 자음수 125ml
                                </div>
                                <div class="event-price">
                                    $42.75
                                </div>
                                <div class="event-coupon">
                                    적립금 미사용
                                </div>
                            </div>
                        </li>
                        <li class="day">
                            <div class="date">7</div>
                        </li>
                        <li class="day">
                            <div class="date">8</div>
                        </li>
                    </ul>

                        <!-- Row #3 -->

                    <ul class="days">
                        <li class="day">
                            <div class="date">9</div>
                        </li>
                        <li class="day">
                            <div class="date">10</div>
                        </li>
                        <li class="day">
                            <div class="date">11</div>
                        </li>
                        <li class="day">
                            <div class="date">12</div>
                        </li>
                        <li class="day">
                            <div class="date">13</div>
                            <div class="event">
                                <div class="event-desc">
                                    입생로랑 #01/루쥬 쀠르 꾸뛰르
                                </div>
                                <div class="event-price">
                                    $66.50
                                </div>
                                <div class="event-coupon">
                                    적립금 $3.50 사용
                                </div>
                            </div>
                        </li>
                        <li class="day">
                            <div class="date">14</div>
                        </li>
                        <li class="day">
                            <div class="date">15</div>
                        </li>
                    </ul>

                        <!-- Row #4 -->

                    <ul class="days">
                        <li class="day">
                            <div class="date">16</div>
                        </li>
                        <li class="leave-day">
                            <div class="date">17</div>
                            <div class="event">
                                <div class="event-leave">
                                    출국 예정
                                </div>
                            </div>
                        </li>
                        <li class="day">
                            <div class="date">18</div>
                        </li>
                        <li class="day">
                            <div class="date">19</div>
                        </li>
                        <li class="day">
                            <div class="date">20</div>
                        </li>
                        <li class="day">
                            <div class="date">21</div>
                        </li>
                        <li class="day">
                            <div class="date">22</div>
                        </li>
                    </ul>

                            <!-- Row #5 -->

                    <ul class="days">
                        <li class="day">
                            <div class="date">23</div>
                        </li>
                        <li class="day">
                            <div class="date">24</div>
                        </li>
                        <li class="day">
                            <div class="date">25</div>
                        </li>
                        <li class="day">
                            <div class="date">26</div>
                        </li>
                        <li class="day">
                            <div class="date">27</div>
                        </li>
                        <li class="day">
                            <div class="date">28</div>
                        </li>
                        <li class="day">
                            <div class="date">29</div>
                        </li>
                    </ul>

                    <!-- Row #6 -->

                    <ul class="days">
                        <li class="day">
                            <div class="date">30</div>
                        </li>
                        <li class="day other-month">
                            <div class="date">1</div> <!-- Next Month -->
                        </li>
                        <li class="day other-month">
                            <div class="date">2</div>
                        </li>
                        <li class="day other-month">
                            <div class="date">3</div>
                        </li>
                        <li class="day other-month">
                            <div class="date">4</div>
                        </li>
                        <li class="day other-month">
                            <div class="date">5</div>
                        </li>
                        <li class="day other-month">
                            <div class="date">6</div>
                        </li>
                    </ul>

                </div><!-- /. calendar -->
              </div><!-- /. wrap -->
              <div class="page-title">
                <h1>&nbsp;</h1>
                <h2>장바구니</h2>
              </div>
              <div class="order-detail-content">
                <div class="table-responsive">
                  <table class="table table-bordered cart_summary">
                    <thead>
                      <tr>
                        <th class="cart_product">상품</th>
                        <th>설명</th>
                        <th>재고</th>
                        <th>정상가</th>
                        <th>수량</th>
                        <th>적립금 사용</th>
                        <th>세면대최저가</th>
                        <th>면세점 이동</th>
                        <th>삭제</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="cart_product"><a href="#"><img src="images/product_ex.jpg" alt="Product"></a></td>
                        <td class="cart_description"><p class="product-name"><a>몽블랑 사토리얼 6CC 반지갑 </a></p>
                          <small><a>신라인터넷면세점</a></small><br>
                        <td class="availability in-stock"><span class="label">In stock</span></td>
                        <td class="price"><span style="color:#333248">$275.00</span></td>
                        <td class="qty"><input class="form-control input-sm" type="text" value="1"></td>
                        <td class="price"><span>$13.75</span></td>
                        <td class="price"><span style="color:#3300ff">$261.25</span></td>
                        <td class="move"><a href="#">해당 면세점 <p></p>이동하기</a></td>
                        <td class="action"><a href="#"><i class="icon-close"></i></a></td>
                      </tr>
                      <tr>
                        <td class="cart_product"><a href="#"><img src="images/product_ex2.jpg" alt="Product"></a></td>
                        <td class="cart_description"><p class="product-name"><a>설화수 자음수 125ml </a></p>
                          <small><a>신세계인터넷백화점</a></small></td>
                        <td class="availability out-of-stock"><span class="label">No stock</span></td>
                        <td class="price"><span style="color:#333248">$42.75</span></td>
                        <td class="qty"><input class="form-control input-sm" type="text" value="0"></td>
                        <td class="price"><span>0</span></td>
                        <td class="price"><span style="color:#3300ff">0</span></td>
                        <td class="move"><a href="#">해당 면세점 <p></p>이동하기</a></td>
                        <td class="action"><a href="#"><i class="icon-close"></i></a></td>
                      </tr>
                      <tr>
                        <td class="cart_product"><a href="#"><img src="images/product_ex3.jpg" alt="Product"></a></td>
                        <td class="cart_description"><p class="product-name"><a>입생로랑 #01/루쥬 쀠르 꾸뛰르 </a></p>
                          <small><a>롯데인터넷면세점</a></small><br>
                        <td class="availability in-stock"><span class="label">In stock</span></td>
                        <td class="price"><span style="color:#333248">$70.00</span></td>
                        <td class="qty"><input class="form-control input-sm" type="text" value="2"></td>
                        <td class="price"><span>$3.50</span></td>
                        <td class="price"><span style="color:#3300ff">$66.50</span></td>
                        <td class="move"><a href="#">해당 면세점 <p></p>이동하기</a></td>
                        <td class="action"><a href="#"><i class="icon-close"></i></a></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="3" rowspan="2"></td>
                        <td colspan="3">총 상품 정상가</td>
                        <td colspan="3">$345.00 </td>
                      </tr>
                      <tr>
                        <td colspan="3"><strong>총 상품 인터넷회원가</strong></td>
                        <td colspan="3"><strong>$327.75</strong></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="cart_navigation"> <a class="continue-btn" href="#"><i class="fa fa-arrow-left"> </i>&nbsp; 쇼핑 계속하기</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   <!-- Footer -->
<% include ./includes/footer.ejs %>
