<% include ./includes/header.ejs %>
  <!-- Breadcrumbs -->

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="index.html">홈</a><span>&raquo;</span></li>
            <li class=""> <a title="Go to Home Page" href="shop_grid.html">스킨케어</a><span>&raquo;</span></li>
            <li><strong> 기초케어</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->
  <!-- Main Container -->
  <div class="main-container col1-layout">
    <div class="container">
      <div class="row">
        <div class="col-main col-sm-12 col-xs-12">
          <div class="shop-inner">
            <div class="page-title">
              <h2> 기초케어</h2>
            </div>
            <div class="toolbar column">
              <div class="sorter">
                <div class="short-by">
                  <label>페이지: </label>
                  <select>
                    <option selected="selected">16개씩 보기</option>
                    <option>32개씩 보기</option>
                  </select>
                </div>
                <div class="short-by">
                  <label>정렬 방법:</label>
                  <select>
                    <option selected="selected">인기순</option>
                    <option>최신순</option>
                    <option>낮은가격순</option>
                    <option>높은가격순</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="product-grid-area">
              <ul class="products-grid">
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="ULTRA FACIAL TONER" href="/single_product" >
                          <figure> <img class="first-img" src="http://image1.shilladfs.com/files/product/2018/06/08/053810000014_20180608_05074815_13_053810000014_4.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="ULTRA FACIAL TONER" href="/single_product" name="filename" >ULTRA FACIAL TONER </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="키엘" href="/single_product" >키엘 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$19</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="제니피끄 유쓰 액티베이터 아이 컨센트레이트 듀오 20ml*2" href="/single_product" >
                          <figure> <img class="first-img" src="http://image1.shilladfs.com/files/product/2018/06/17/002010000440_20180617_16083903_12_002010000440_4.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="제니피끄 유쓰 액티베이터 아이 컨센트레이트 듀오 20ml*2" name="제니피끄 유쓰 액티베이터 아이 컨센트레이트 듀오 20ml*2" href="/single_product" >제니피끄 유쓰 액티베이터 아이 컨센트레이트 듀오 20ml*2 </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="랑콤" href="/single_product" >랑콤 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$134.9</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="Atoderm Stick Levres" href="/single_product" >
                          <figure> <img class="first-img" src="http://image1.shilladfs.com/files/product/2017/11/21/083511000007_20171121_14263576_12_083511000007_3.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="Atoderm Stick Levres" name="Atoderm Stick Levres" href="/single_product" >Atoderm Stick Levres </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="바이오더마" href="/single_product" >바이오더마 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$9.9</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="자음 2종" href="/single_product" >
                          <figure> <img class="first-img" src="http://image2.shilladfs.com/files/product/2018/01/05/670610000352_20180105_11453557_12_670610000352_1.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="자음 2종" name="자음 2종" href="/single_product" >자음 2종 </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="설화수"  href="/single_product" >설화수 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$86.45</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- .a2 -->

                <!-- b2 -->
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="레네르지 멀티 리프트 리디파이닝 뷰티 로션 200ml" href="/single_product" >
                          <figure> <img class="first-img" src="http://image1.shilladfs.com/files/product/2018/04/12/002010000326_20180412_15191622_12_002010000326_2.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="레네르지 멀티 리프트 리디파이닝 뷰티 로션 200ml" name="레네르지 멀티 리프트 리디파이닝 뷰티 로션 200ml" href="/single_product" >레네르지 멀티 리프트 리디파이닝 뷰티 로션 200ml </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="랑콤" href="/single_product" >랑콤 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$46.55</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="하이드라비오 에센스 로션(수분 미백 부스터)" href="/single_product" >
                          <figure> <img class="first-img" src="http://image2.shilladfs.com/files/product/2017/12/19/083510000036_20171219_09095190_12_083510000036_2.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="하이드라비오 에센스 로션(수분 미백 부스터)" name="하이드라비오 에센스 로션(수분 미백 부스터)" href="/single_product" >하이드라비오 에센스 로션(수분 미백 부스터) </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="바이오더마" href="/single_product" >바이오더마 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$20.7</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- .b2 -->

                <!-- c2 -->
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="어드밴스드 나이트 리페어 아이 컨센트레이트 매트릭스 듀오" href="/single_product" >
                          <figure> <img class="first-img" src="http://image2.shilladfs.com/files/product/2017/09/12/001810000441_20170912_09345607_12_001810000441_1.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="어드밴스드 나이트 리페어 아이 컨센트레이트 매트릭스 듀오" name="어드밴스드 나이트 리페어 아이 컨센트레이트 매트릭스 듀오" href="/single_product" >어드밴스드 나이트 리페어 아이 컨센트레이트 매트릭스 듀오 </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="에스티로더" href="/single_product" >에스티로더 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$128.25</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- .a1 -->

                <!-- b1 -->
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="더 트루 크림 아쿠아밤 125ml" href="/single_product" >
                          <figure> <img class="first-img" src="http://image2.shilladfs.com/files/product/2018/04/04/666010000185_20180404_10070215_12_666010000185_1.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="더 트루 크림 아쿠아밤 125ml" name="더 트루 크림 아쿠아밤 125ml" href="/single_product" >더 트루 크림 아쿠아밤 125ml </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="빌리프" href="/single_product" >빌리프 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$55.8</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- .b1 -->

                <!-- c1 -->
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="상품명" href="/single_product" >
                          <figure> <img class="first-img" src="http://image2.shilladfs.com/files/product/2017/07/11/053810000047_20170711_09295709_07_053810000047_3.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="상품명" href="/single_product" >상품명 </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="브랜드명" href="/single_product" >브랜드명 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$원가</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="상품명" href="/single_product" >
                          <figure> <img class="first-img" src="http://image2.shilladfs.com/files/product/2017/07/11/053810000047_20170711_09295709_07_053810000047_3.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="상품명" href="/single_product" >상품명 </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="브랜드명" href="/single_product" >브랜드명 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$원가</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li><li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="상품명" href="/single_product" >
                          <figure> <img class="first-img" src="http://image2.shilladfs.com/files/product/2017/07/11/053810000047_20170711_09295709_07_053810000047_3.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="상품명" href="/single_product" >상품명 </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="브랜드명" href="/single_product" >브랜드명 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$원가</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="상품명" href="/single_product" >
                          <figure> <img class="first-img" src="http://image2.shilladfs.com/files/product/2017/07/11/053810000047_20170711_09295709_07_053810000047_3.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="상품명" href="/single_product" >상품명 </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="브랜드명" href="/single_product" >브랜드명 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$원가</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area"> <a title="상품명" href="/single_product" >
                          <figure> <img class="first-img" src="http://image2.shilladfs.com/files/product/2017/07/11/053810000047_20170711_09295709_07_053810000047_3.JPG" alt=""></figure>
                          </a>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button quick-view"> <a href="/single_product" > <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="상품명" href="/single_product" >상품명 </a> </div>
                          <div class="item-content">
                            <div class="brand"> <a title="브랜드명" href="/single_product" >브랜드명 </a></div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$원가</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="pagination-area ">
              <ul>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Container End -->
  <!-- Footer -->

  <footer>
    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-7">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
          <div class="footer-logo"><a href="/"><img src="images/saemyundae_logo2.png" alt="fotter logo"></a> </div>
          <p>세면대는 인터넷 면세점을 이용하거나 관련 정보를 얻고 싶을 때 도움을 주는 최고의 ‘도우미’입니다.</p>

        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          <div class="footer-content">
            <div class="email"> <i class="fa fa-envelope"></i>
              <p><a href="mailto:support@template.com">Saemyundae@google.com</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          <div class="footer-content">
            <div class="phone"> <i class="fa fa-phone"></i>
              <p>(02) 712-5233</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          <div class="footer-content">
            <div class="address"> <i class="fa fa-map-marker"></i>
              <p> 서울시 노원구 공릉동 232-2 3층</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-coppyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2017 <a href="#"> Modern </a>. All Rights Reserved. </div>
          <div class="col-sm-6 col-xs-12">
            <div class="payment">
              <ul>
                <li><a href="#"><img title="Visa" alt="Visa" src="images/visa.png"></a></li>
                <li><a href="#"><img title="Paypal" alt="Paypal" src="images/paypal.png"></a></li>
                <li><a href="#"><img title="Discover" alt="Discover" src="images/discover.png"></a></li>
                <li><a href="#"><img title="Master Card" alt="Master Card" src="images/master-card.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="totop"> </a> </div>
<script>
function moveDetail(obj){
    var itemname = $(obj).attr('title');
    var body={
      itemname : itemname
    };
    $.ajax({
             type: "POST",
             url: "/single_product/",
             async: true,
             data: body,
             dataType: "JSON",
             success: function(json) {
               console.log(json);
             },
             error: function(error) {
                console.log(error);
             }
          });

}
</script>


<!-- End Footer -->
<!-- JS -->

<!-- jquery js -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- owl.carousel.min js -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>

<!-- bxslider js -->
<script type="text/javascript" src="js/jquery.bxslider.js"></script>

<!--jquery-slider js -->
<script type="text/javascript" src="js/slider.js"></script>

<!-- megamenu js -->
<script type="text/javascript" src="js/megamenu.js"></script>
<script type="text/javascript">
        /* <![CDATA[ */
        var mega_menu = '0';

        /* ]]> */
        </script>

<!-- jquery.mobile-menu js -->
<script type="text/javascript" src="js/mobile-menu.js"></script>





<!--jquery-ui.min js -->
<script type="text/javascript" src="js/jquery-ui.js"></script>

<!-- main js -->
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
