<% include ./includes/header.ejs %>
  <!-- Breadcrumbs -->

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="index.html">홈</a><span>&raquo;</span></li>
            <li class=""> <a title="Go to Home Page" href="shop_grid.html">스킨케어</a><span>&raquo;</span></li>
            <li><strong> 기초케어</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->
  <!-- Main Container -->
  <div class="main-container col1-layout">
  <div class="container">
    <div class="row">
      <div class="col-main">
        <div class="product-view-area">
          <div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
            <div class="large-image"> <img class="zoom-img" src="http://image1.shilladfs.com/files/product/2018/06/08/053810000014_20180608_05074815_13_053810000014_4.JPG" alt="products">  </div>
            <div class="flexslider flexslider-thumb">

            </div>

            <!-- end: more-images -->

          </div>
          <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 product-details-area">

              <div class="product-name">
                <h4>KIEHL'S(브랜드명)</h4>
                <h1>ULTRA FACIAL TONER(상품명)</h1>
              </div>
              <div class="product-name">
                <h4>요약 설명</h4>
                <p style="color: red;">피부 표면의 과잉 피지를 줄여주는 오일-프리 토너</p>
                <p> 스쿠알란, 살구씨 오일, 스위트 아몬드 오일, 아보카도 오일 등 식물성 보습 성분이 피부 본래의 수분 장벽을 강화해주어 진정 및 보습에 도움을 줍니다.</p>
                <h1></h1>
              </div>
              <div class="price-box">
                <ul>
                  <li>
                    <p class="old-price"> <strong>신라인터넷면세점 : </strong><span class="price"> $359.99</span>&nbsp; >> <span class="price-label">Special Price</span> </p>
                    <p class="special-price"> <span class="price-label">Regular Price:</span> <span class="price"> $329.99 </span> </p>
                  </li>
                  <li>
                    <p class="old-price"> <strong>롯데인터넷면세점 : </strong><span class="price"> $359.99</span>&nbsp; >> <span class="price-label">Special Price</span> </p>
                    <p class="special-price"> <span class="price-label">Regular Price:</span> <span class="price"> $329.99 </span> </p>
                  </li>
                  <li>
                    <p class="old-price"> <strong>신세계인터넷면세점 : </strong><span class="price"> $359.99</span>&nbsp; >> <span class="price-label">Special Price</span> </p>
                    <p class="special-price"> <span class="price-label">Regular Price:</span> <span class="price"> $329.99 </span> </p>
                  </li>
                </ul>
              </div>
              <div class="ratings">

                <p class="availability in-stock pull-left">재고: <span>3개의 재고 있음</span></p>
              </div>
              <div class="product-variation">
                <form action="#" method="post">
                  <div class="cart-plus-minus">
                    <label for="qty">수량:</label>
                    <div class="numbers-row">
                      <div onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;" class="dec qtybutton"><i class="fa fa-minus">&nbsp;</i></div>
                      <input type="text" class="qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
                      <div onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="inc qtybutton"><i class="fa fa-plus">&nbsp;</i></div>
                    </div>
                  </div>
                  <button class="button pro-add-to-cart" title="Add to Cart" type="button"><span><i class="fa fa-shopping-cart"></i> 장바구니에 담기</span></button>
                </form>
              </div>
          </div>
        </div>
      </div>
      <div class="product-overview-tab">
        <div class="container">
          <div class="row">
            <div class="col-xs-12"><div class="product-tab-inner">
              <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                <li class="active"> <a href="#description" data-toggle="tab"> 제품 설명 </a> </li>
                <li> <a href="#product_tags" data-toggle="tab">기타 정보</a></li>
                <li> <a href="#reviews" data-toggle="tab">고객 후기</a> </li>
              </ul>
              <div id="productTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="description">
                  <div class="std">
                    <p>스쿠알란, 살구씨 오일, 스위트 아몬드 오일, 아보카도 오일 등 식물성 보습 성분이 피부 본래의 수분 장벽을 강화해주어 진정 및 보습에 도움을 줍니다. </p>
                    <p>* 이 제품은 케이스가 없습니다.</p>
                  </div>
                </div>
                <div class="tab-pane fade" id="product_tags">
                  <div class="product-tabs-content-inner clearfix">
                    <p><strong>용량 또는 중량:</strong>250ML</p>
                    <p><strong>제품 주요 사항:</strong>모든 피부타입</p>
                    <p><strong>사용기한 또는 개봉 후 사용기간:</strong>배송되는 제품은 사용기한이 12개월 이상 남아있는 제품부터 순차적으로 배송됩니다.</p>
                    <p><strong>제조자 및 제조 판매업자:</strong>L'Oreal / L'Oreal Travel Retail</p>
                    <p><strong>식품의약품 안전청 심사 필 유무:</strong>N</p>
                    <p><strong>사용할 때 주의사항:</strong></p>
                    <p>1. 상처가 있는 부위, 습진 및 피부염 등의 이상이 있는 부위에는 사용하지 마시기 바랍니다.</p>
                    <p>2. 사용 중 피부에 이상이 생긴 경우에는 사용을 중단하시고 피부과 전문의 등에게 상담하시기 바랍니다.</p>
                    <p>3. 보관 및 취급 시의 주의사항</p>
                    <p>가. 사용 후에는 반드시 마개를 닫아 두시기 바랍니다.</p>
                    <p>나. 유아·소아의 손이 닿지 않는 곳에 보관하시기 바랍니다.</p>
                    <p>다. 고온 또는 저온의 장소 및 직사광선이 닿는 곳에는 보관하지 마시기 바랍니다.</p>
                    <p>4. 정해진 용도 이외에는 사용하지 마시기 바랍니다.</p>
                    <p><strong>품질보증기준:</strong>공정거래위원회 고시 품목별 소비자분쟁 해결기준에 따름</p>
                    <p><strong>소비자 상담관련 전화번호:</strong>02-2230-1428 (신라면세점 서울점 키엘 코너)</p>
                    <p><strong>원산지:</strong>미국</p>
                  </div>
                </div>
                <div id="reviews" class="tab-pane fade">
                  <div class="col-sm-5 col-lg-5 col-md-5">
                    <div class="reviews-content-left">
                      <h2>고객 후기</h2>
                      <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                      <p class="rating-links"> <a>2개의 후기(들)</a> <span class="separator">|</span> <a>후기를 남겨보세요</a> </p>
                      <div class="review-ratting">
                        <p><a href="#">그냥 그렇네요.</a> hanxxx(고객닉네임)</p>
                        <table>
                          <tbody><tr>
                            <th>별점</th>
                            <td>
                              <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                              </div>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                      <p class="author">
                        <small> Posted on 16/12/2015</small>
                      </p>
                    </div>
                    <div class="review-ratting">
                      <p><a href="#">아주 좋아요!</a> Wisxxx(고객닉네임)</p>
                      <table>
                        <tbody><tr>
                          <th>별점</th>
                          <td>
                            <div class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                    <p class="author">
                      <small> Posted on 26/12/2015</small>
                    </p>
                  </div>
                  </div>
                </div>
                <div class="col-sm-7 col-lg-7 col-md-7">
                  <div class="reviews-content-right">
                    <h2>후기를 남겨보세요!</h2>
                    <form>
                      <h4>이 제품에 대한 만족도는 어떠신가요?<em>*</em></h4>
                      <div class="table-responsive reviews-table">
                        <table>
                          <tbody><tr>
                            <th></th>
                            <th>1점</th>
                            <th>2점</th>
                            <th>3점</th>
                            <th>4점</th>
                            <th>5점</th>
                          </tr>
                          <tr>
                            <td>별점</td>
                            <td><input type="radio"></td>
                            <td><input type="radio"></td>
                            <td><input type="radio"></td>
                            <td><input type="radio"></td>
                            <td><input type="radio"></td>
                          </tr>
                        </tbody></table></div>
                        <div class="form-area">
                          <div class="form-element">
                            <label>후기 <em>*</em></label>
                            <textarea></textarea>
                          </div>
                          <div class="buttons-set">
                            <button class="button submit" title="Submit Review" type="submit"><span><i class="fa fa-thumbs-up"></i> &nbsp;후기 남기기</span></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>







    </div>
  </div>
</div>

<!-- Main Container End -->

 <!-- Footer -->

 <footer>
   <div class="footer-newsletter">
     <div class="container">
       <div class="row">
         <div class="col-md-8 col-sm-7">
         </div>
       </div>
     </div>
   </div>
   <div class="container">
     <div class="row">
       <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
         <div class="footer-logo"><a href="/"><img src="images/saemyundae_logo2.png" alt="fotter logo"></a> </div>
         <p>세면대는 인터넷 면세점을 이용하거나 관련 정보를 얻고 싶을 때 도움을 주는 최고의 ‘도우미’입니다.</p>

       </div>
       <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
         <div class="footer-content">
           <div class="email"> <i class="fa fa-envelope"></i>
             <p><a href="mailto:support@template.com">Saemyundae@google.com</a></p>
           </div>
         </div>
       </div>
       <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
         <div class="footer-content">
           <div class="phone"> <i class="fa fa-phone"></i>
             <p>(02) 712-5233</p>
           </div>
         </div>
       </div>
       <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
         <div class="footer-content">
           <div class="address"> <i class="fa fa-map-marker"></i>
             <p> 서울시 노원구 공릉동 232-2 3층</p>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="footer-coppyright">
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2017 <a href="#"> Modern </a>. All Rights Reserved. </div>
         <div class="col-sm-6 col-xs-12">
           <div class="payment">
             <ul>
               <li><a href="#"><img title="Visa" alt="Visa" src="images/visa.png"></a></li>
               <li><a href="#"><img title="Paypal" alt="Paypal" src="images/paypal.png"></a></li>
               <li><a href="#"><img title="Discover" alt="Discover" src="images/discover.png"></a></li>
               <li><a href="#"><img title="Master Card" alt="Master Card" src="images/master-card.png"></a></li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </footer>
  <a href="#" class="totop"> </a>
</div>

<!-- End Footer -->

<!-- JS -->

<!-- jquery js -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- owl.carousel.min js -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>

<!-- bxslider js -->
<script type="text/javascript" src="js/jquery.bxslider.js"></script>

<!-- flexslider js -->
<script type="text/javascript" src="js/jquery.flexslider.js"></script>


<!-- megamenu js -->
<script type="text/javascript" src="js/megamenu.js"></script>
<script type="text/javascript">
  /* <![CDATA[ */
  var mega_menu = '0';

  /* ]]> */
  </script>

<!-- jquery.mobile-menu js -->
<script type="text/javascript" src="js/mobile-menu.js"></script>

<!--jquery-ui.min js -->
<script type="text/javascript" src="js/jquery-ui.js"></script>

<!-- main js -->
<script type="text/javascript" src="js/main.js"></script>

<!-- countdown js -->
<script type="text/javascript" src="js/countdown.js"></script>

<!--cloud-zoom js -->
<script type="text/javascript" src="js/cloud-zoom.js"></script>


</body>
</html>
