<% include ./includes/header.ejs %>
  <!-- Breadcrumbs -->

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/">홈</a><span>&raquo;</span></li>
            <li class=""> <a title="Go to MyPage" href="/user/mypage">마이페이지</a><span>&raquo;</span></li>
            <li><strong>내 계정</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->
  <!-- Main Container -->
  <div class="main-container col2-left-layout">
    <div class="container">
      <div class="row">
        <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">

          <div class="shop-inner">
            <div class="page-title">
              <h2>내 계정</h2>
              <h4><%=username%> 님 <a small>환영합니다.</a></h4>
              <h6>회원정보를 아래에서 확인 및 수정을 할 수 있습니다.</h6>
            </div>
            <div class="pagination-area "></div>

            <div class="order-detail-content">
              <h4>회원정보</h4>
              <p class="user_info"> <a>이메일</a> <span class="separator">:</span> <a> <%=Email%></a> </p>
              <button class="button" onclick="location.href='/user/password_input'"><i class="fa fa-pencil"></i>&nbsp; <span>회원정보수정</span></button>
            </div>
            <div class="pagination-area "></div>
          </div>
        </div>
        <aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">

          <div class="block shop-by-side">
            <div class="sidebar-bar-title">
              <h3>마이페이지</h3>
            </div>
            <div class="block-content">
              <div class="layered-Category">
                <div class="layered-content">
                  <ul class="check-box-list">
                    <li>
                      <label for="jtv2"> <a href="/user/mypage"><span class="button">내 계정</span> </a> </label>
                    </li>
                    <li>
                      <label for="jtv2"> <a href="/Dutyfree_linkage"><span class="button"> 면세점 연동</span></a> </label>
                    </li>
                    <li>
                      <label for="jtv2"> <a href="/Manage_reserve"><span class="button"> 적립금 관리</span></a> </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <!-- Main Container End -->
  <!-- Footer -->
<% include ./includes/footer.ejs %>
